*{
    padding:0%;
    margin: 0%;
    font-family: 'Redressed', cursive;
    font-family: 'Roboto', sans-serif;
}
body{
    height: 100%;
    background-color: white;  
   
}
.Container{
    width: 100%;
    height: 100vh;
    display: flex;  
    align-items: center;
    justify-content: center;
    margin-top: 80px;
    margin-bottom: 100px;
}
.Perfil{   
    

} 
.parte1{
    width: 60%;
    height: 800px;
    padding: 50px;
    display: flex;
    margin-left: 10px;
    margin-top: 20px;
    color: black;
    background-color: rgba(62, 128, 158, 0.6);
    box-sizing: border-box;
    border-radius: 2px;
    animation-name: decoracion1;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    
}
@keyframes decoracion1{
    0%{
        border-radius-: 0%;
    }
    100%{
     
        border-top-left-radius: 10%;
        border-bottom-left-radius: 10%;
    }
}
.perfil2{
    text-align: center;
    height:800px;
    width: 35%;
    margin-left: 5px;
    margin-top: 20px;
    margin-right: 10px;
    padding-top: 20px;
    color: black;
    background-color: rgba(181, 190, 192, 0.685);
    box-sizing: border-box;
    border-radius: 2px;
    animation-name: decoracion2;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}
@keyframes decoracion2{
    0%{
        border-radius: 0%;
    }
    100%{
        border-top-right-radius:  10%;
        border-bottom-right-radius: 10%;
    }
}
.Foto{
    width: 210px;
    height: 250px;
    padding: 5px 5px;
    border-radius: 60%; 
    
}
h1{
    text-align: center;
    margin-bottom: 30px;
    padding-top: 10px;
}
h2{
    text-decoration:underline;
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 20px;
}
h3{
    font-size: 18px;
}
p{
    width: 95%;
}

.Imagen{
    width: 220px;
    height: 260px;
    border: 2px solid rgba(136, 133, 133, 0.144);
    background-color: rgba(181, 190, 192, 0.685);
    margin-left: 252px;
    border-radius: 50%;   
}
.What{
    text-decoration: none;
    text-align: center;
    border-radius: 5px;
    border-style: none;
    padding: 5px;
    background-image: linear-gradient(to bottom right, #0b3f25, #148056, #69ca60, #a1e593, #ebf5e9);
    font-size: 15px;          
}
.What:hover{
    cursor: pointer;
}
.Mail{
    text-decoration: none;
    text-align: center;
    border-radius: 5px;
    border-style: none;
    padding: 5px;
    background-image: linear-gradient(to bottom right, #06096e, #0927d1, #1660c0, #2861cc, #ebf5e9);
    font-size: 16px;   
}
.Mail:hover{
    cursor: pointer;
   
}
.button1 button{
    text-decoration: none;
    width: 50%;
    text-align: center;
    border-radius: 5px;
    border-style: none;
    padding: 5px;
    background-color: rgba(62, 128, 158, 0.6);
    color: black;    
}
.button1 button:hover{
    cursor: pointer;
    text-decoration: underline;
}
button a{
    text-decoration: none;
    width: 50%;
    text-align: center;
    border-radius: 5px;
    border-style: none;
    padding: 5px;
    color: white;    
}

.Experiencia{
    text-decoration: none;
    width: 50%;
    text-align: center;
    border-radius: 5px;
    border-style: none;
    padding: 10px;
    background-color: rgba(181, 190, 192, 0.685);
    color: black; 
    margin-left: 180px; 
      
}

    

